name: Deploy MkDocs

on:
  push:
    branches:
      - main  # 或你平时推送的分支

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      # 1. 拉代码
      - uses: actions/checkout@v4

      # 2. 安装 Python & MkDocs
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material

      # 3. 构建 HTML
      - name: Build MkDocs site
        run: mkdocs build

      # 4. 上传 artifact 给 Pages
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./site

  deploy-pages:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
