name: Deploy MkDocs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      # 1. checkout repo
      - uses: actions/checkout@v4

      # 2. setup Python
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      # 3. install MkDocs
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material

      # 4. build site
      - name: Build MkDocs site
        run: mkdocs build

      # 5. deploy to Pages (自动处理 artifact，不用 upload-pages-artifact)
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
        with:
          # 指定 HTML 输出目录
          artifact_location: ./site
